@charset "utf-8";
/* Base Reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu { margin:0; padding:0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details { display:block;text-overflow: ellipsis; }
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; font-weight:normal; }
html,body,fieldset,img,iframe,abbr { border:0; }
html { overflow-x:hidden;background: #FFF url(./images/background.png); background-size: 100%;}
i,cite,em,var,address,dfn{}
[hidefocus],summary { outline:0; }
li{list-style:none; }
h1,h2,h3,h4,h5,h6,small { font-size:100%; }
sup,sub { font-size:83%; }
pre,code,kbd,samp { font-family:inherit; }
q:before,q:after { content:none; }
textarea { overflow:auto; resize:none; }
label,summary { cursor:default; }
a,button { cursor:pointer; }
h1,h2,h3,h4,h5,h6,strong,b { font-weight:bold; }
del,ins,u,s,a,a:hover { text-decoration:none; }
body,textarea,input,button,select,keygen,legend {font:12px/1 arial,\5b8b\4f53; outline:0;}
:focus { outline:0; }
/*备用样式表*/
.none { display:none; }
.wcb { width:100%; height:30px; border:2px dashed #97CBE0; }
.hidden { visibility:hidden; }
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline; }
.clearfix:after { clear: both; content: "."; display: block; height:0; visibility: hidden; }
.clearfix { display: block; *zoom:1; }
.restbox{padding: 0 20px 0 240px; text-align:left; padding-bottom: 1.2em; font-size: 1.24em; line-height: 1.5em;}

/**全局样式**/
body { font:12px/1 "Microsoft YaHei","Simsun", arial,\5b8b\4f53; color:#333; background:#fff;max-width: 1038px;margin:auto;box-shadow: 0 2px 6px rgba(100, 100, 100, 0.4);width: 76%;}/*背景样式*/
a {color:#333; text-decoration:none;}
a:hover { color:#b162a4;}
.wrapper { width:100%; margin:0 auto;}
.wrapper .inner {width:100%;margin:0 auto;} /**页面全局宽度**/

.banner {margin-left: auto; margin-right: auto;}

#head_container {
    border-top: 1px solid #DDD;
}

.article .entry .read img { max-width: 100%; height: 100%; object-fit: cover; _width:expression(this.width > 940 ? "840px" : this.width); }  /**直接塞文章页好像会被override，后面再处理**/


/**页头开始**/
#header {}
#header .inner {border-top: 5px solid #9b7bad;}
.head { width:100%; height:100px; position:relative;margin-left: auto;margin-right: auto;} /**页头部分**/
.sitelogo{float:left;padding-top: 2px;}
.head .sitelogo a img{max-width:350px; margin:10px auto;}
.nav_container{}
.head .sitetitle {float:left;margin-top:45px; margin-left:20px;font-size:32px;font-weight:bold;color:#fff;} /**站点名称**/
.navbar {} /**导航区域背景**/
.navbox {position: relative; z-index: 100; background: #e8e8e8;} /**导航窗口大小及位置**/
.navbar {}
.search {padding-top: 4%; float:right;}
.header-search-query {border: 1px solid #bcbcbc;padding: .6em;float: left;border-right: 0px;}
.inner.clearfix{}
#search {width: 2.5em;height: 2.5em;background: #cecece url('images/search.png') no-repeat center;color: #fff;border: none;border-radius: 0;position: relative;}
#english {width: 2.5em;height: 2.5em;background-color: #cecece; color: #fff;border: none;border-radius: 0; position: relative; margin: 4% 6% 0 1%;float: right;}
/**导航样式：后台绑定时也可以定义配置**/
#nav_mobile {display: none;}
.menu-switch-arrow { display: none; margin:auto;}
.navbox .wp-menu { margin:0 auto; width:1000px;} /**导航高度**/
.navbox .wp-menu .menu-item {float: left;position: relative;z-index: 100;/**border-right: 1px solid #73116f; border-bottom: 2px solid #73116f;**/}
.navbox .wp-menu .menu-item a.menu-link {display: inline-block;padding:8px 13.5px;line-height: 26px;color: #333;font-size: 16px;font-family:"Microsoft YaHei";}/**导航字体样式**/
.navbox .wp-menu .menu-item a.menu-link:hover,
.navbox .wp-menu .menu-item a.menu-link.parent{ text-decoration: none; color: #FFF; background-color: #9b7bad;}/**鼠标经过或当前选中时样式**/
.navbox .wp-menu .menu-item:last-child {border-right: none;}
.navbox .sub-menu {box-shadow: 5px 5px 12px rgba(50,50,50,0.5); background-color: rgba(255,255,255,1); display: none; position: absolute; left: 0; z-index: 100; min-width:6.05em; width: max-content; font-size:15px; border-top: 2px solid #b162a4; line-height: 10px;}/**菜单背景**/
.navbox .sub-menu .sub-item { position: relative; _white-space: nowrap; vertical-align: top;}
.navbox .sub-menu .sub-item a {display: block; padding: 15px 5px; display: block; font-family:"Microsoft YaHei"; text-align: left; padding: 15px 1em;}/**子菜单字体样式**/
.navbox .sub-menu .sub-item a:hover,
.navbox .sub-menu .sub-item a.parent{background-color: rgba(255,255,255,0.65); display: block;}
.navbox .sub-menu .sub-menu { left: 100%; top: 0; z-index: 200; background-color: #e6e6e6; border-left: 1px solid #ddd;}
/**slide导航**/
.wp-navi .navi-slide-head { display: none;  height: 49px;}
.wp-navi .navi-slide-head .navi-slide-title { display: inline-block; float: left; font-weight: normal; color: #212121; font-size: 18px; line-height: 49px;}
.wp-navi .navi-slide-head .navi-slide-arrow { display: block; width: 34px; height: 49px; float: right; background: url(img/menu-icon-arrow.png) no-repeat 50%;}
.search-input{}

/**标题栏新闻窗口**/
.post { margin-bottom:10px;}
.post .tt { display:inline-block; width:100%;} /**标题栏**/
.post .tt .tit { display:inline-block; float:left; font-size:14px; font-weight:bold; color:#7A006F;} /**标题字体**/
.post .tt .tit .title { display:inline-block; line-height:32px;padding: 10px 0px;font-size:16px; margin-left: 54px;} /**标题图标**/
.post .tt .more_btn {display:inline-block;float:right; height:32px; line-height:32px; padding-top: 10px; font-size: 18px;} /**更多按钮**/
/*.announcement { display:inline-block;float:right; height:32px; line-height:32px; padding-top: 10px; font-size: 18px;} /**更多按钮**/
.announcement {margin-top: 16px; font-size: 20px;}
.announcement_text {padding-left: 20px;}
.announcement_text time {padding-left: 15px;font-size: 15px;color: #999;}
.post.post1.post-10.announcementbox {padding-left: 3%;}
.post .con { padding:5px 0; margin:0 auto;}
.post .con .wp_article_list .list_item { border-bottom:1px dashed #ccc;} /**系统新闻列表**/
.post .con .wp_article_list .list_item span{margin-left:0px;margin-right:5px;} 
.post .con .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;} /**新闻列表图标**/
/*带图标标题*/
.post1 {}
.post1 .tt {}
.post1 .tt .tit {}
.post1 .tt .tit .title {}
.post1 .tt .tit .title small {font-size: 18px; padding-left: 15px; color: #999;}
.tt_box{background: #b162a4;margin: 6px 0 0 4px;position: absolute;width: 40px;height: 40px;-moz-border-radius: 25px;-webkit-border-radius: 25px;border-radius: 25px;}
/**自定义新闻列表**/
.news_list {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 40px; font-size:16px;}
.news_list li.news {} /**标题图标**/
.news_list li.news span.news_title { float:left;}
.news_list li.news span.news_meta { float:right; margin-left:2px;}
.news_list li.news p {clear:both; line-height:26px; color:#787878;padding-top:5px;}
.news_list li.news p a { color:#787878;white-space:normal;}
.news_list li.news p a:hover { color:#444; text-decoration:underline;}
.news_title a {line-height: 35px;}
.news h3 {font-size: 1.39em;padding-bottom: 15px;}
.news_desc {white-space: normal;}
.news_read {padding-right:1.5em;}
.news_footer {padding-top: 8px;}
.wp_listcolumn{border-top:none; border-bottom:none;}
.col_news_list .news_list{padding: 0 1em; font-size: 1.39em; }
.col_news_list .news_list li {padding: .5em 1em;}
.col_news_list .news_list li:nth-child(even){background: #FFF;}
.wp_paging{font-size: 1.39em; padding: 15px;}
.news_list.list2 .block-list{white-space: nowrap;}
.news_list.list2 .block-list li:nth-child(even) {background: #f2f2f2; color: #000;}

/** 
*其他样式
*/
#mbanner{}


/**主体开始**/
#container {padding:12px 0;width: 100%;}
#container .inner {background:inherit;}

/**banner两列布局**/
.mod .bl {width:600px; float:left;}/**左列**/ 
.mod .br { width:32%; padding-top: 30px; float:right;} /**右列**/

/**首页三列布局**/
.content {width: 1000px;}

.mod {}
.mod .ml {width:32%; float:left;}/**左列**/ 
.mod .mc { width:32%; margin-left:2%; float:left;} /**中间**/
.mod .mr { width:32%; float:right;} /**右列**/
.mbox { padding:0 10px; }

/**页脚开始**/
#footer {background: #F8F8F8; }
#footer .inner { width:90%; padding-top:10px; border-top:2px solid #b162a4; text-align:center;}
#footer .inner p { font-size:14px; line-height:20px; text-align:center; font-size: 1em; line-height: 2em;}
#footer .inner p span { margin:0 3px;}
.favlinks h4 {    width: 80px;
    float: left;
    font-size: 14px;
    line-height: 135%;
    font-weight: bold;}
.copyright {color: #666666; padding: 1em 0;}
.favlinks {display: inline-block; color: #666666;}
.favlinks li {display: inline-block; line-height: 24px; height: auto; word-break: break-all; word-wrap: break-word;}
.favlinks li a {color:#666666;font-size: 1em;padding: 10px;}
.favlinks li a:hover {color: #a28541;}
.link_block {float: right;width: 90%;}
.news a:hover {color: #a28541;}
.seprator {color: #CCC;}
 .contact_caption {width: 18%; float: left; padding-right: 20px;color: #646464; line-height: 20px;}
 .contact_left { width: 40%;  float: left; padding-right: 20px;color: #646464; line-height: 20px;}

/**列表页**/
.lbanner {}
.lbanner .inner { position: relative;}
.lbanner .column-name { display: none; height: 24px; line-height: 24px; font-size: 20px; color: #fff; overflow: hidden; position: absolute; left: 6px; right: 6px; top :50%; margin-top: -12px;}
/**列表页banner图**/
.lbanner img { width: 100%; vertical-align: top; }

.col_menu {width: 210px;float:left;position:relative;margin-right: -220px;} 
.col_menu .col_menu_head { background:url(images/col_menu_head.jpg) no-repeat 0 0;}/**位置栏目背景**/
.col_menu .col_menu_head h3.col_name {font-size: 16px;font-weight: normal;color:#fff;}/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text {display:block;line-height: 30px;padding: 0px 5px 0px 10px;background:#289AD8;}/**栏目名称图标**/
/**栏目列表*/
.block-list{overflow: hidden; text-overflow: ellipsis;}
.block-list li{overflow:hidden; font-size: 16px;}
.more_text {font-size: 2em;color: #7A006F;}

/**一级栏目列表*/
.col_list .wp_listcolumn {}
.col_list .wp_listcolumn .wp_column a {font-weight:normal;}/**一级子栏目**/
.col_list .wp_listcolumn .wp_column a .column-name{font-size: 1em; padding: .6em; margin-left: 1em;}
.col_list .wp_listcolumn .wp_column a:hover,
.col_list .wp_listcolumn .wp_column a.selected { color:#FFF; background:#c1af84;}/**鼠标经过或选中一级子栏目**/
.col_list .wp_listcolumn .wp_column a.selected span.column-name{font-size: 1em; padding: .6em; margin-left: 1em;}

.wp_listcolumn .wp_column a{background: #f6f5ea; background-image: none;border:none;}
.wp_listcolumn .wp_column a:hover{background-image: none; color:none;}
.wp_listcolumn .wp_column a.selected{background-image: none;}


/**二级栏目列表*/
.col_list .wp_listcolumn .sub_list{}
.col_list .wp_listcolumn .sub_list .sub-item{}
.col_list .wp_listcolumn .sub_list .sub-item a {color:#454545;}/**二级子栏目**/
.col_list .wp_listcolumn .sub_list .sub-item a .column-name{padding-left:40px;}
.col_list .wp_listcolumn .sub_list .sub-item a:hover,
.col_list .wp_listcolumn .sub_list .sub-item a.selected { color:#FFF;}	/**鼠标经过或选中二级子栏目**/
.col_list .wp_listcolumn .sub_list .sub-item a.selected span.column-name{ color:#124D83;}
/**三级栏目列表*/
.col_list .wp_listcolumn .sub_list .sub_list .sub-item a { background:#f2f2f2 url(images/icon_column_3.gif) no-repeat 26px 10px; border-top:1px solid #fff; border-bottom:1px solid #ccc;}/**三级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub-item a .column-name{padding-left:55px;}
.col_list .wp_listcolumn .sub_list .sub_list .sub-item a:hover,
.col_list .wp_listcolumn .sub_list .sub_list .sub-item a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);}/**鼠标经过或选中三级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub-item a.selected span.column-name{ color:#124D83;}
/**四级栏目列表*/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub-item a { background:#f5f5f5 url(images/icon_column_3.gif) no-repeat 36px 10px; border-top:1px solid #fff; border-bottom:1px solid #ddd;}/**四级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub-item a .column-name{padding-left:70px;}
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub-item a:hover,
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub-item a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);}/**鼠标经过或选中四级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub-item a.selected span.column-name{ color:#124D83;}
/**五级栏目列表*/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub_list .sub-item a { background:#f9f9f9 url(images/icon_column_3.gif) no-repeat 46px 10px; border-top:1px solid #fff; border-bottom:1px solid #eee;}/**五级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub_list .sub-item a .column-name{padding-left:85px;}
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub_list .sub-item a:hover,
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub_list .sub-item a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);}/**鼠标经过或选中五级子栏目**/
.col_list .wp_listcolumn .sub_list .sub_list .sub_list .sub_list .sub-item a.selected span.column-name{ color:#124D83;}

.wp_column_title {color: #FFF; background: rgba(152, 127, 69, 0.9); font-size: 18px; padding: 15px 10px;}
.col_menu_con {margin-top: -60px;}

/**栏目新闻**/
.col_news {width:100%;float:left;} 
.col_news_box{margin-left: 240px;}

.col_news_head {border-bottom:1px solid #ccc;}
.col_metas .col_title { display:inline-block; float:left; height:30px; line-height:30px;}  /**当前栏目**/
.col_metas .col_title h2 {display:inline-block;font-size:18px;font-weight: normal;}   /**当前栏目名称**/
.col_metas .col_path { display:inline-block; float:left; white-space:nowrap; height:18px; line-height:18px; font-size: 1.2em; padding: 1em;} /**当前位置**/

.col_news_list { margin-top:7px;min-height:300px; }
.col_news_list .wp_article_list .list_item {} /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item span{margin-left:0px;margin-right:5px;}
.col_news_list .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;} /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:1.6; font-size:14px; color:#333;}
.col_news_list .wp_entry p { margin-bottom:6px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); }   /**列表页文章图片大小限制**/
.news_icon { display:none.col_news_list .news_list li.articlelist1_li {background:none;}
.more_text {font-size: 35px; color: #7A006F;}
.div_ztylb .div_ztylb_img {float: left; padding: 8px 5px 0 0;}

/**文章页**/
.infobox { margin:0 auto;}
.article {padding-left: 240px;}
.article h1.arti_title {line-height: 35px;padding: 1em 0;font-size:26px;font-family: "Microsoft YaHei";color:#282828;text-align:center;} /**文章标题**/
.article .arti_subtitle {line-height:30px;font-size:16px;color:#282828;font-family: "Microsoft YaHei";text-align:center;} /**文章副标题**/
.arti_metas {padding: 1.1em; text-align:right;}
.arti_metas span { margin:0 5px; font-size:1.3em; color:#787878;} /**文章其他属性**/
.article .entry { margin:0 auto;padding:5px 0px; min-height:300px; overflow:hidden;} /**文章内容**/
.article .entry .read,.article .entry .read p { color:#333; text-align:justify; text-indent:2em; padding-bottom: 1.2em; font-size: 1.24em; line-height: 1.5em;}  /**阅读字体**/
.article .entry .read p { margin-bottom:6px;}
.article .entry .read img { max-width:840px; width: 100%; height: 100%; object-fit: cover; _width:expression(this.width > 940 ? "840px" : this.width); }  /**文章阅读部分图片大小限制**/
.foot {font-size: 16px;}


#rightPanelHead{width:771px; height:40px; background:url(style_res/right-head.png);border-top:2px solid #750069; line-height:40px; margin-bottom:9px;}
#rightPanelHead h4{float:left; padding-left:40px; font-family:微软雅黑; font-size:18px; color:#750069;}
#xyjjPanel h4.title{background:url(style_res/1-title-icon.png) 10px center no-repeat;}
#breadcrumb{float:right; padding-right:28px; padding-left:20px; background:url(style_res/breadcrumb-icon.png) left center no-repeat;}
#breadcrumb span{color:#0086AC;}

#rightPanelContent{border:1px solid #ECECEC;/* padding: 36px; */background:url(style_res/content-bg.png);}
#rightPanelContent.article-list-container{padding:20px;}
#rightPanelContent.article-image-list-container{padding:0;}
#xsstPanel .article-image-list-container, #kyhdPanel .article-image-list-container, #xyhdPanel .article-image-list-container{_padding:0;}
#rightPanelContent.tbl-container{padding:25px;}
#rightPanelContent h2{font-family:微软雅黑; color:#750069; text-align:center; font-size:18px; padding-bottom:18px;}
#rightPanelContent h2 .title-tip{font-size:12px;}
#rightPanelContent .article-info{text-align:center;}
#rightPanelContent .article-content{width: 96%;line-height:30px;margin: auto;}
#rightPanelContent .article-content p{text-indent:2em;}
#rightPanelContent .article-content p.unspace{text-indent:0;}
#rightPanelContent .article-content ul{padding-left:2em;}
#rightPanelContent .article-content h5{text-indent:24px; font-size:14px; font-weight:bold; color:#750069; padding:20px 0 10px}
#rightPanelContent .article-content h6{color:#750069; padding-top:25px; padding-bottom:5px;}
#rightPanelContent .article-content .purple, #rightPanelContent .article-content a.purple{color:#750069;}
#rightPanelContent .article-content .img-container{padding:20px 0;}
#rightPanelContent .article-content .img-container img{margin:0 auto; display:block;}
#rightPanelContent .article-content span.download-link{float:right; font-size:12px; color:#666666;}
#rightPanelContent .article-content span.download-link a{color:#FE8A03;}
#rightPanelContent #leaderimg{text-align:center}
#rightPanelContent #leaderimg h3{color: #73006B;font-size: 16px;font-weight: bold;margin-bottom:10px}
#rightPanelContent #leaderorgan{text-align:center;margin-top:10px}
#rightPanelContent #leaderorgan table{width:608px;border:1px solid #DEEFFF;margin:auto}
#rightPanelContent #leaderorgan table tr td{line-height:40px;border:1px solid #DEEFFF}
#rightPanelContent #leaderorgan table tr.theader td{background:#00A5CE;color:#FFFFFF;font-size:14px}
#rightPanelContent #leaderorgan table tr.odd td{background:#F7FFFF;}
#rightPanelContent #leaderorgan table tr.even td{background:#EFFFFF;}
#rightPanelContent #leaderorgan table tr td.duties{width:220px}
#rightPanelContent #leaderorgan table tr td.name{width:388px}

.personal-info-left{float:left; width:475px;}
.personal-info-right{float:right; width:204px; overflow:hidden}
.personal-info-wide{clear:both;}
#rightPanelContent .article-content .personal-info-left h5, 
#rightPanelContent .article-content .personal-info-right h5, 
#rightPanelContent .article-content .personal-info-wide h5{padding:15px 0 5px; text-indent:0;}
#rightPanelContent .article-content p.title-a-line{padding:15px 0 5px;}
#rightPanelContent .article-content p.title-a-line label{font-size:14px; font-weight:bold; color:#750069; padding-right:10px;}
#rightPanelContent .article-content .personal-info-right .personal-image{padding-bottom:8px;}
#rightPanelContent .article-content .personal-info-right .personal-information{border-top:1px solid #CCEAF4; background:#ECFBFF; border-left:1px solid #E2F5FB; border-right:1px solid #E2F5FB; padding:5px 16px; line-height:22px; color:#0087AD;}

.leftPanel h4{height:42px;}
#xygkLeftBar h4{background:url(style_res/xykg-left-title.png); text-indent:-9999px;}
.leftPanel ul li{line-height:40px; background:url(style_res/left-category.png); font-family:微软雅黑;}
.leftPanel ul li a{display:block; height:40px; padding-left:60px; width:162px; font-size:14px; color:#666; background:url(style_res/category-icon.png) 39px 16px no-repeat;}
.leftPanel ul li.current{background:url(style_res/left-category-current.png) left top no-repeat;}
.leftPanel ul li.selected1 a{color:#0087ae;}
.leftPanel ul li.parent1 a{color:#0087ae;}

.leftPanel ul li .sub-category-list{display:none; border:1px solid #F1F2F2; border-top:0; border-bottom:0;}
.leftPanel ul li .sub-category-list li{line-height:32px; border-bottom:1px dashed #E4E8E9; background:#F6FEFF;}
.leftPanel ul li .sub-category-list li a{height:32px; font-size:12px; background:#F6FEFF; color:#666; width:160px;}
.leftPanel ul li .sub-category-list li.current a, .leftPanel ul li .sub-category-list li a:hover{background:#FFF; color:#0087ae;}
.leftPanel ul li.current .sub-category-list{display:block;}

#szllLeftBar h4{background:url(style_res/szll-left-title.png); text-indent:-9999px;}


#page-nav{float:right; padding-top:25px; padding-bottom:35px; line-height:22px; padding-right:10px;}
#page-nav a, #page-nav span{color:#0087CB; display:block; float:left; margin-left:5px;}
#page-nav a, #page-nav span.current{display:block; float:left; margin-left:5px; padding:0px 8px; border:1px solid #DDDDDD;}
#page-nav a.on { background: none repeat scroll 0 0 #0087CB;color: #FFFFFF;}
#page-nav span.current{background:#0087CB; color:#FFF; border:1px solid #0087CB;}

#yxszPanel h4.title{background:url(style_res/1-1-title-icon.png) 10px center no-repeat;}
#szllPanel h4.title{background:url(style_res/2-title-icon.png) 10px center no-repeat;}

.szll-list li{width:167px; height:265px; background:url(style_res/szll-container-bg.png) no-repeat; padding:5px; float:left; margin:0 5px; _display:inline;}
.szll-list li img{display:block;}
.szll-list li .person-info{display:block; padding:10px 18px 0 18px;}
.szll-list li .person-info .person-name{float:left; font-size:14px; font-weight:bold; color:#666;}
.szll-list li .person-info a.detail{float:right; color:#750069;}
#szllPanel #rightPanelContent{padding:36px 10px;}

#ywggLeftBar h4{background:url(style_res/ywgg-left-title.png); text-indent:-9999px;}
#ywggPanel h4.title{background:url(style_res/3-title-icon.png) 10px center no-repeat;}

.article-list li{height:39px; line-height:39px; border:1px dashed #F5F5F5;}
.article-list li span.icon{float:left; padding:0 10px 0 5px; color:#0288AE;}
.article-list li a{float:left;}
.article-list li a:hover{color:#0288AE; text-decoration:underline;}
.article-list li span.time{float:right;}

#newsLeftBar h4{background:url(style_res/news-left-title.png); text-indent:-9999px;}
#newsPanel h4.title{background:url(style_res/4-title-icon.png) 10px center no-repeat;}

#newsPanel .news-pics{width:382px; height:219px; border:6px solid #0087AD; float:left; position:relative;}
#newsPanel #images-container{width:382px; height:219px; position:absolute; top:0; left:0;}
#newsPanel #images-container a{display:block; width:382px; height:219px; position:absolute;}
#newsPanel #images-container img{display:block;}
#newsPanel #slide-nav{position:absolute; right:0px; bottom:0px; z-index:20; height:15px; width:382px; background:#FFF; opacity:0.7; filter:alpha(opacity=70)\9;}
#newsPanel #slide-nav ul{float:right;}
#newsPanel #slide-nav li{float:left; width:22px; height:15px; line-height:15px; border-right:1px solid #FFF; text-align:center; color:#003D4C; cursor:pointer;}
#newsPanel #slide-nav li.on{color:#FFF; background:#0087AD;}

#newsPanel #top-news-info{width:290px; float:right; padding-right:15px;}
#newsPanel #description{position:absolute; width:382px; top:235px;}
#newsPanel #description div{text-align:center;}
#newsPanel #description a{color:#750069;}
#newsPanel #description a:hover{text-decoration:underline;}
#newsPanel #top-news{height:270px;}
#newsPanel #top-news-info h5{font-size:14px; font-weight:bold; padding-bottom:10px;}
#newsPanel #top-news-info h5 a{color:#750069;}
#newsPanel #top-news-info{line-height:22px;}
#newsPanel #top-news-info .detail{float:right; color:#750069;}

#zsjyLeftBar h4{background: url(lmwz.jpg);}
#zsjyPanel h4.title{background:url(style_res/5-title-icon.png) 10px center no-repeat;}

#jxjwLeftBar h4{background:url(style_res/jxjw-left-title.png); text-indent:-9999px;}
#jxjwPanel h4.title{background:url(style_res/6-title-icon.png) 10px center no-repeat;}

.article-images-list ul li{height:184px; overflow:hidden; border-bottom:1px solid #EDEDED; padding:30px 0 0 19px; background:url(style_res/image-art-bg.png);}
.article-images-list ul li.hover{background:url(style_res/image-ar-bg-hover.png);}
.article-images-list ul li .article-image{float:left; padding-right:18px;}
.article-images-list ul li .article-image a, .article-images-list ul li .article-image img{display:block; width:209px; height:148px;}
.article-images-list ul li .article-image a{border:2px solid #0087AD;}
.article-images-list ul li .article-txt{width:495px; float:left;}
.article-images-list ul li .article-txt p.article-brief{text-indent:2em; line-height:30px;}
.article-images-list ul li .article-txt h3{font-size:15px; font-weight:bold; padding-bottom:8px;}
.article-images-list ul li .article-txt h3 a{color:#750069;}
.article-images-list ul li .article-txt h3 a:hover{text-decoration:underline;}
.article-images-list ul li .article-txt .article-info-bar{color:#CECECE; padding-bottom:12px; padding-left:6px;}
.article-images-list ul li .article-txt a.detail{color:#750069;}

.xs-tbl th, .xs-tbl-2 th{height:34px; text-align:center; background:url(style_res/tbl-th.png);}
.xs-tbl .th-1, .xs-tbl-2 .th-1{width:94px; border-right:1px solid #E7E7E7; background:url(style_res/tbl-th-left.png);}
.xs-tbl .th-2, .xs-tbl-2 .th-2{width:285px; border-right:1px solid #E7E7E7; border-left:1px solid #FFF;}
.xs-tbl-2 .th-2{width:355px;}
.xs-tbl .th-3, .xs-tbl-2 .th-3{width:232px; border-right:1px solid #E7E7E7; border-left:1px solid #FFF;}
.xs-tbl-2 .th-3{width:162px;}
.xs-tbl .th-4, .xs-tbl-2 .th-4{width:101px; border-left:1px solid #FFF; background:url(style_res/tbl-th-right.png);}
.xs-tbl td, .xs-tbl-2 td{height:41px; text-align:center; background:#FFF;}
.xs-tbl .td-1, .xs-tbl-2 .td-1{border-top:1px solid #FFF; border-left:1px solid #C9C9C9; border-bottom:1px solid #C9C9C9; border-right:1px solid #E7E7E7;}
.xs-tbl .td-2, .xs-tbl .td-3, .xs-tbl-2 .td-2, .xs-tbl-2 .td-3{border-top:1px solid #FFF; border-left:1px solid #FFF; border-bottom:1px solid #C9C9C9; border-right:1px solid #E7E7E7;}
.xs-tbl .td-4, .xs-tbl-2 .td-4{border-top:1px solid #FFF; border-left:1px solid #FFF; border-bottom:1px solid #C9C9C9; border-right:1px solid #C9C9C9;}

.video-list{padding-top:16px; padding-left:47px;}
.video-list li{float:left; width:128px; height:138px; text-align:center; padding:0 11px; overflow:hidden;}
.video-list li img{display:block; margin-bottom:9px;}
.video-list li a{color:#000;}
.video-list li a:hover{text-decoration:underline;}
.video-list-content #page-nav{padding-right:212px;}

.video-play-content{width:606px; margin:0 auto; padding-top:8px;}
.video-information{padding-top:25px;}
#rightPanelContent .video-information h2{font-size:12px; font-family:verdana; font-weight:bold; text-align:left;padding-bottom:9px;}
.video-info-bar{color:#909090; padding-bottom:7px;}
.video-description{color:#434343; line-height:18px;}

#xsgzLeftBar h4{background:url(style_res/xsgz-left-title.png); text-indent:-9999px;}
#gltzwPanel h4.title{background:url(style_res/7-title-icon.png) 10px center no-repeat;}
#xsstPanel h4.title{background:url(style_res/7-1-title-icon.png) 10px center no-repeat;}
#xskyLeftBar h4{background:url(style_res/xsky-left-title.png); text-indent:-9999px;}
#kyxmPanel h4.title{background:url(style_res/8-title-icon.png) 10px center no-repeat;}

#xscgPanel h4.title{background:url(style_res/8-1-title-icon.png) 10px center no-repeat;}
#kyhdPanel h4{background:url(style_res/8-title-icon.png) 10px center no-repeat;}

#xyhLeftBar h4{background:url(style_res/xyh-left-title.png); text-indent:-9999px;}
#lshPanel h4.title{background:url(style_res/9-title-icon.png) 10px center no-repeat;}

#xyhdPanel h4.title{background:url(style_res/9-1-title.png) 10px center no-repeat;}

#contactLeftBar h4{background:url(style_res/contact-left-title.png); text-indent:-9999px;}
#contactPanel h4.title{background:url(style_res/10-title-icon.png) 10px center no-repeat;}

.map-content .contact-tip{font-size:14px; font-weight:bold; padding-bottom:46px;}
.map-content .addr-1, .map-content .addr-2, .map-content .tel{font-size:14px; font-weight:bold; color:#760068; padding-bottom:15px;}
.map-content .addr-2{padding-top:22px; text-indent:3em;}
.map-content .img-container img, .video-play-content .img-container img{display:block; margin:0 auto;}
.map-content .tel{padding:21px 0;}

#zlzcLeftBar h4{background:url(style_res/zlzc-11-left-title.png); text-indent:-9999px;}
#zlzcPanel h4.title{background:url(style_res/11-title-icon.png) 10px center no-repeat;}

#yytdLeftBar h4{background:url(style_res/yytd-left-title.png); text-indent:-9999px;}
#yytdPanel h4.title{background:url(style_res/11-title-icon.png) 10px center no-repeat;}

.adv-list{padding-left:40px;}
.adv-list li{float:left; width:192px; height:238px; padding:10px 7px 13px 6px; overflow:hidden;}
.adv-list li a{padding:7px 9px; display:block; width:170px; height:220px; border:2px solid #DFDFDF;}
.adv-list li a img{display:block;}
.adv-list li a span.name{display:block; text-align:center; padding-top:10px;}
.adv-list-content #page-nav{padding-right:200px;}

#hdyjzLeftBar h4{background:url(style_res/hdyjz-left-title.png); text-indent:-9999px;}
#hdyjzPanel h4.title{background:url(style_res/14-title-icon.png) 10px center no-repeat;}